<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Document</title>


</head>

<style>

            *{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
        .bg-s{
        background: rgb(244, 243, 241);
    }

      h1, h2{
           color: white;
           text-shadow: 2px 2px 3px rgb(34, 34, 34);
      }
      p{
       color: white;
      }

            img{
              border-style: inset;
            }

        #img1{
    width: 100%;
    height: 40vh;
    background-image: url("/pictures/rose.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

}

</style>
<body class="d-flex flex-column h-100">


<main class="flex-shrink-0">

    <nav th:replace="fragments/nav">

    </nav>
    <div id="elementToDelete">

        <span class="bg-success text-light" id="flash" th:text="${message}"></span>
    </div>
    <div class="container px-5 my-5">

        <div th:if="${param.success}" class="alert alert-success">
            Вие се регистрирахте успешно!
        </div>



        <div class="text-center mb-5" id="img1" >
            <div class="mt-5">
            <h1 class="fw-bolder">Намерете за вас и приятели</h1>

            <h2 class="fw-bolder">Гривни и гердани от перли,маниста и лава на страстта близо до вас</h2>
            <br>
            <p>Нашите гривни и гердани са изработени от висококачествени материали и са перфектното допълнение към Вашия ежедневен или официален тоалет.
                 Изберете от разнообразните дизайни, за да намерите точния за Вас модел.</p>
            </div>
            <span class="output"></span>
            <h2 style="color:green" th:if="${finalizeDone}==true"> Вие успешно изпратихте вашата поръчка.</h2>
        </div>
        <div class="row gx-5">
            <div class="d-flex justify-content-center">

                <form th:action="@{/}" class="btn btn-outline-dark">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <select id="cats" name="keyWord" th:value="${keyWord}" onchange="this.form.submit(); getOption()" class="bg-dark text-light">
                        <option value="" selected disabled hidden>ИЗБЕРЕТЕ КАТЕГОРИЯ</option>
                        <option th:value="'Neckless'" th:text="Гердани">Гердани</option>
                        <option th:value="'Bracelet'" th:text="Гривни">Гривни</option>
                    </select>
                </form>
                <button class="btn btn-outline-dark"  onclick="clearFilter()" style="margin-left: 25px">ВСИЧКИ ПРОДУКТИ</button>

            </div>
            <div sec:authorize="!isAuthenticated()" th:each="product :${products}" class="col-lg-6 mb-4 mt-4">
                <div class="position-relative mb-3 p-4 text-center bg-s">

                    <div class="">
                    <img role="button" title="buy" th:onclick="begin()" class="img-fluid rounded-3 mb-3" style="width: 400px; height: 330px" th:src="${product.imageSourceOne}" alt="..."/>
                    </div>

                    <span sec:authorize="hasRole('ADMIN')">
                        <label>ID:</label>
                        <span th:text="${product.id}" class="fw-bold">ID</span>
                    </span>
                    <span>
                    <label>Продукт:</label>
                    <span th:text="${product.name}" class="fw-bold">Продукт</span>
                    </span>
                    <span>
                    <label>Материал:</label>
                    <span th:text="${product.producer}" class="fw-bold">Материал</span>
                    </span>
                    <span>
                    <label>Цена:</label>
                    <span th:text="${product.price}" class="fw-bold">Цена</span><span>лв.</span>
                    </span>
                    <span sec:authorize="hasRole('ADMIN')" class="text-center">
                        <label>Количество:</label>
                        <span th:text="${product.stock}" class="fw-bold">Количество</span>
                    </span>

                </div>


        </div>
            <div sec:authorize="isAuthenticated()" th:each="product :${products}" class="col-lg-6 mb-4 mt-4">
                <div class="position-relative mb-3 text-center p-4 bg-s">
                    <div class="">

                            <img title="buy" th:onclick="'javascript:location.href=\'' + @{'/product/' + ${product.id}} + '\''"  role="button" class="img-fluid rounded-3 mb-3" style="width: 400px; height: 330px" th:src="${product.imageSourceOne}" alt="..."/>
                    </div>
                    <span sec:authorize="hasRole('ADMIN')">
                        <label>ID:</label>
                        <span th:text="${product.id}" class="fw-bold">ID</span>
                    </span>
                    <span>
                        <label>Продукт:</label>
                        <span th:text="${product.name}" class="fw-bold">Продукт</span>
                    </span>
                    <span>
                        <label>Материал:</label>
                        <span th:text="${product.producer}" class="fw-bold">Материал</span>
                    </span>
                    <span>
                        <label>Цена:</label>
                        <span th:text="${product.price}" class="fw-bold">Цена</span><span>лв.</span>
                    </span>
                    <div sec:authorize="hasRole('ADMIN')">
                        <label>Количество:</label>
                        <span th:text="${product.stock}" class="fw-bold">Количество</span>
                    </div>

                </div>


            </div>
            <div class="mb-3" th:if = "${totalPages>1}">
                <div class="row justify-content-center">
                    <div class="col-2 text-primary">
                        Общо: [[ ${totalItems}]]    -

                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                      <a th:if="${currentPage != i}" th:href="@{'/products/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyWord!=null ? '&keyWord=' + keyWord : ''}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                    </div>

                    <div class="col-2 text-primary">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyWord!=null ? '&keyWord=' + keyWord : ''}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                    <div class="col-2 text-primary">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyWord!=null ? '&keyWord=' + keyWord : ''}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
    </div>




</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script>
    // Get a reference to the element
    var elementToDelete = document.getElementById("elementToDelete");

    // Function to remove the element
    function removeElement() {
      elementToDelete.parentNode.removeChild(elementToDelete);
    }

    // Set a timeout to call the removeElement function after 5 seconds (5000 milliseconds)
    setTimeout(removeElement, 5000);

    function getOption() {
		selectElement = document.querySelector('#cats');
		output = selectElement.value;
		document.querySelector('.output').textContent = output;
	}
  </script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>