<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav th:replace="fragments/nav">

</nav>
<div class="container">

        <h1>Нов продукт</h1>
        <form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Прокут</label>
                <input th:field="*{producer}" type="text" class="form-control" name="producer" autofocus="autofocus" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Продукт..">
                <div style="color: red" th:if="${#fields.hasErrors('producer')}"
                     th:errors="*{producer}"></div></td>
                <div style="color: red" th:if="${accountExist == true}">
                    An account with this login already exists!
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Материал</label>
                <input type="text" class="form-control" name="name" id="exampleInputPassword1" th:field="*{name}" placeholder="Материал..">
                <div style="color: red" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Цена</label>
                <input type="text" class="form-control" name="price" th:field="*{price}" id="exampleInputPassword2" placeholder="Цена..">
                <div style="color: red" th:if="${#fields.hasErrors('price')}"
                     th:errors="*{price}"></div>
            </div>


        <div class="form-group">
            <label for="select">Категория:</label>
            <select th:field="*{category}" id="select">
                <option th:value="'Neckless'" th:text="Гердани">Гердани</option>
                <option th:value="'Bracelet'" th:text="Гривни">Гривни</option>
            </select>


</div>
            <div class="form-group">
                <label for="imageSourceOne">Линк към снимка eдно</label>
                <input type="text" class="form-control" name="imageSourceOne" id="imageSourceOne" th:field="*{imageSourceOne}" placeholder="Линк към снимката">
                <div style="color: red" th:if="${#fields.hasErrors('imageSourceOne')}"
                     th:errors="*{imageSourceOne}"></div>
            </div>
            <div class="form-group">
                <label for="imageSourceTwo">Линк към снимка две</label>
                <input type="text" class="form-control" name="imageSourceOne" id="imageSourceTwo" th:field="*{imageSourceTwo}" placeholder="Линк към снимката">
                <div style="color: red" th:if="${#fields.hasErrors('imageSourceTwo')}"
                     th:errors="*{imageSourceOne}"></div>
            </div>
            <div class="form-group">
                <label for="imageSourceThree">Линк към снимка три</label>
                <input type="text" class="form-control" name="imageSourceThree" id="imageSourceThree" th:field="*{imageSourceThree}" placeholder="Линк към снимката">
                <div style="color: red" th:if="${#fields.hasErrors('imageSourceThree')}"
                     th:errors="*{imageSourceOne}"></div>
            </div>
            <div class="form-group">
                <label for="stock">Наличност?</label>
                <input type="text" class="form-control" name="stock" id="stock" th:field="*{stock}" placeholder="Наличност..">
                <div style="color: red" th:if="${#fields.hasErrors('stock')}"
                     th:errors="*{stock}"></div>
            </div>
            <button type="submit" class="btn btn-outline-success">Добави</button>
        </form>
    </div>

</div>

</div>

<footer th:replace="fragments/footer">

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>