<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav th:replace="fragments/nav">

</nav>
<div class="container">
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Products</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Address</th>
                    <th>Sent?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" ><!--th:onclick="'javascript:location.href=\'' + @{'/product/' + ${product.id}} + '\''"-->
                    <td th:text="${order.id}">ID</td>
                    <td>
                        <th:block th:each="item : ${order.items}">
                            <th:block th:onclick="'javascript:location.href=\'' + @{'/product/' + ${item.product_id}} + '\''" th:text="${item.product_id}">[category name]</th:block>
                        <br>
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="item : ${order.items}">
                            <th:block th:text="${item.quantity}">[category name]</th:block>
                            <br>
                        </th:block>
                    </td>
                    <td th:text="${order.price}">Price</td>
                    <td th:text="${order.addressAndPersonalData?.firstName}+' '+ ${order.addressAndPersonalData?.lastName}+' '+${order.addressAndPersonalData?.city}+' '+ ${order.addressAndPersonalData?.street}+' '+${order.addressAndPersonalData?.zipCode}+' '+${order.addressAndPersonalData?.phoneNumber}">Address</td>
                    <td th:onclick="'javascript:location.href=\'' + @{'/panel/order/send/' + ${order.id}} + '\''" th:text="${order.send}">Sent</td>
                    <td><a th:href="@{/panel/orders/delete/{id}(id=${order.id})}" class="btn-delete">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <hr/>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer">

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
